.headerMod {
    background-image: url(../assets/images/header-bg1.jpg);
    background-size: cover;
    background-position: center center;
    height: 450px;

    border-bottom: 1px solid #c7c7c7;

    .imgContent {
        
        .headerImg {
            height: 200px;
            width: 200px;
    
            @media (min-width: 576px) {
    
            }
    
            @media (min-width: 768px) {
    
            }
    
            @media (min-width: 992px) {
            
            }
        }
    }

    @media (max-width: 992px) {
        margin-top: 0;
    }

    .offCanvasHeaderMod {
        height: 57px;
        background-image: linear-gradient(to top, $verdeClaro, $verdeMedio);
    }

}
.cardContent {
    .cardImg {
        @media (min-width: 1024px) {
            width: 400px;
            height: 400px;
        }
    }
}

#parallax1 {
 display: flex;
 background: #fff fixed no-repeat 50% 50%; 
 background-image: url(../assets/images/aboutus1.jpg);
 background-size: cover;
 width: 100%;
 height: 200px;
 @media (min-width: 768px) {
    height: 350px;
}
 @media (min-width: 1024px) {
    height: 450px;
}
    div {
        h3 {
            color: rgb(93, 93, 93);
            text-shadow: 0 0 10px #FFFFFF, 0px 0px 8px rgba(0,0,0,0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0,0,0,0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0,0,0,0);
        }
        .button {
            color: $blanco;
            outline-color: $blanco;
            font-size: 1rem;   
            &:hover {
                color: $verdeOscuro;
            }
            &::before {
                background-color: $blanco;
            }
        }
    }
}
#parallax2 {
    display: flex;
    background: #fff fixed no-repeat 50% 50%; 
    background-image: url(../assets/images/index__resto-front.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    @media (min-width: 768px) {
        height: 350px;
    }
    @media (min-width: 1024px) {
        height: 450px;
    }
        div {
            h3 {
                color: rgb(93, 93, 93);
                text-shadow: 0 0 10px #FFFFFF, 0px 0px 8px rgba(0,0,0,0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0,0,0,0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0,0,0,0);
            }
            .button {
                color: $blanco;
                outline-color: $blanco;
                font-size: 1rem;   
                &:hover {
                    color: $verdeOscuro;
                }
                &::before {
                    background-color: $blanco;
                }
            }
        }
}



    

